/******************/
/**** ESENCIAL ****/
/******************/

* {
	margin: 0;
}

body {
	background-color: var(--fondo_base);
	color: var(--fuente);
	font-family: sans-serif;
}

/******************/
/**** CABECERA ****/
/******************/

header {
	height: 50px;
	background-color: var(--fondo_cabecera);
}

.cabecera {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	width: 46px;
	height: 46px;
	margin: 2px 20px 2px 20px;
}

#opciones {
	display: flex;
}

/***********************/
/**** CONFIGURACIÓN ****/
/***********************/

#botón_tema {
	width: 28px;
	margin: 10px 20px 10px 8px;
}

#botón_tema:hover {
	opacity: 80%;
	cursor: pointer;
}

#botón_idioma {
	width: 32px;
	height: 22px;
	margin: auto 8px;
	border-radius: 16%;
}

#botón_idioma:hover {
	opacity: 80%;
	cursor: pointer;
}

#lista_idioma {
	position: absolute;
	top: 45px;
	right: 16px;
	padding: 4px;
	border: 2px solid var(--borde);
	background-color: var(--fondo_base);
	list-style-type: none;
	z-index: 10;
}

#lista_idioma > li {
	padding: 6px;
}

#lista_idioma > li:hover {
	opacity: 80%;
	cursor: pointer;
	background-color: var(--fondo_selección);
}

#lista_idioma > li > img {
	position: relative;
	top: 2px;
	border-radius: 16%;
}

/***************/
/**** BOTÓN ****/
/***************/

.botón {
	margin: 0 10px;
	border: 0;
	border-radius: 16px;
	padding: 8px;
	background-color: var(--botón);
	color: var(--fuente);
	font-size: medium;
}

.botón:hover {
	opacity: 80%;
	cursor: pointer;
}

/***************/
/**** PANEL ****/
/***************/

iframe {
	width: 1200px;
	height: 680px;
	display: block;
	margin: 0 auto;
	background-color: var(--fondo_panel);
}

.visualizador {
	width: 1200px;
	height: 620px;
	position: absolute;
	margin-top: 20px;
	background-color: var(--fondo_visualizador);
	overflow: hidden;
}

.colección {
	width: 1200px;
	height: 620px;
	position: absolute;
	margin-top: 20px;
	background-color: var(--fondo_colección);
}

.periodo {
	height: 20px;
	position: absolute;
	background-color: var(--periodo);
}

/********************/
/**** FORMULARIO ****/
/********************/

.ventana_formulario {
	width: 360px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-color: var(--fondo_formulario);
	z-index: 10;
}

.título_formulario {
	padding: 10px;
}

.cerrar {
	position: absolute;
	top: 14px;
	right: 14px;
	border: 1px solid #000;
	border-radius: 20%;
	background-color: var(--rojo);
}

.cerrar:hover {
	opacity: 80%;
	cursor: pointer;
}

.entrada {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
	padding: 16px;
}

.oculto {
	display: none;
}