/****************/
/**** GLOBAL ****/
/****************/

* {
	margin: 0;
	user-select: none;
}

body {
	min-height: 100vh;
	background-color: var(--fondo_base);
	color: var(--fuente);
	font-family: sans-serif;
}

.oculto {
	display: none;
}

/******************/
/**** CABECERA ****/
/******************/

header {
	height: 50px;
	background-color: var(--fondo_cabecera);
}

.cabecera {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	width: 46px;
	height: 46px;
	margin: 2px 20px 2px 20px;
}

#opciones {
	display: flex;
}

/***********************/
/**** CONFIGURACIÓN ****/
/***********************/

#botón_tema {
	width: 28px;
	margin: 10px 20px 10px 8px;
}

#botón_tema:hover {
	opacity: 80%;
	cursor: pointer;
}

#botón_idioma {
	width: 32px;
	height: 22px;
	margin: auto 8px;
	border-radius: 16%;
}

#botón_idioma:hover {
	opacity: 80%;
	cursor: pointer;
}

#lista_idioma {
	position: absolute;
	top: 45px;
	right: 16px;
	padding: 4px;
	border: 2px solid var(--borde);
	background-color: var(--fondo_base);
	list-style-type: none;
	z-index: 10;
}

#lista_idioma > li {
	padding: 6px;
}

#lista_idioma > li:hover {
	opacity: 80%;
	cursor: pointer;
	background-color: var(--fondo_selección);
}

#lista_idioma > li > img {
	position: relative;
	top: 2px;
	border-radius: 16%;
}

/***************/
/**** BOTÓN ****/
/***************/

.botón {
	margin: 0 10px;
	border: 0;
	border-radius: 16px;
	padding: 8px;
	background-color: var(--botón);
	color: var(--fuente);
	font-size: medium;
}

.botón:hover {
	opacity: 80%;
	cursor: pointer;
}

/***************/
/**** PANEL ****/
/***************/

.panel {
	width: 1000px;
	height: 580px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}

#colección {
	width: 1200px;
	height: 620px;
	position: absolute;
	margin-top: 20px;
	background-color: var(--fondo_colección);
}

/**********************/
/**** VISUALIZADOR ****/
/**********************/

#visualizador {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 20px;
	border-radius: 16px;
	background-color: var(--fondo_visualizador);
}

#mostrador {
	width: calc(100% - 2 * 20px);
	height: calc(100% - 120px);
	position: absolute;
	margin: 20px 20px 65px 20px;
	overflow: hidden;
}

.periodo {
	height: 20px;
	position: absolute;
	background-color: var(--periodo);
}

.evento {
	/* width: 40px; */
	/* height: 40px; */
	position: absolute;
	background-color: var(--evento);
}

/***************/
/**** REGLA ****/
/***************/

#regla {
	width: calc(100% - 2 * 20px);
	height: 40px;
	position: absolute;
	bottom: 55px;
	margin: 0 20px;
	border-radius: 8px;
	background-color: aliceblue;
}

/*********************/
/**** DESPLAZADOR ****/
/*********************/

#desplazador {
	width: 100%;
	height: 100%;
	position: absolute;
}

#desplazador_horizontal {
	width: calc(100% - 2 * 20px);
	height: 25px;
	position: absolute;
	bottom: 0;
	margin: 20px;
	border-radius: 16px;
	background-color: var(--verde);
	cursor: grab;
}

#desplazador_horizontal:active {
	cursor: grabbing;
}

#barra_horizontal {
	width: 200px;
	height: 25px;
	position: absolute;
	border-radius: 16px;
	background-color: var(--naranja);
}

#barra_horizontal_protector {
	width: 100%;
	height: 100%;
	position: absolute;
}

#desplazador_vertical {
	width: 25px;
	height: 300px;
	position: absolute;
	right: 0;
	margin: 20px;
	border-radius: 16px;
	background-color: var(--verde);
	cursor: grab;
}

#desplazador_vertical:active {
	cursor: grabbing;
}

#barra_vertical {
	width: 25px;
	height: 200px;
	position: absolute;
	border-radius: 16px;
	background-color: var(--naranja);
}

#barra_vertical_protector {
	width: 100%;
	height: 100%;
	position: absolute;
}

/************************/
/**** PROPORCIONADOR ****/
/************************/

#proporcionador {
	position: absolute;
	display: flex;
	margin: 20px;
}

.proporción {
	width: 32px;
	height: 32px;
	margin-right: 16px;
	border-radius: 50%;
	background-color: var(--rojo);
}

.proporción:hover {
	opacity: 80%;
	cursor: pointer;
}

/********************/
/**** FORMULARIO ****/
/********************/

.ventana_formulario {
	width: 360px;
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
	margin: auto;
	background-color: var(--fondo_formulario);
	z-index: 10;
}

.título_formulario {
	padding: 10px;
}

.cerrar {
	position: absolute;
	top: 14px;
	right: 14px;
	border: 1px solid #000;
	border-radius: 20%;
	background-color: var(--rojo);
}

.cerrar:hover {
	opacity: 80%;
	cursor: pointer;
}

.entrada {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
	padding: 16px;
}