:root {
	--fondo_ult: #223;
	--fondo_cab: #448;
	--fondo_pan: #333;
	--texto: #fff;
	--botón: #f70;
}

* {
	margin: 0;
}

body {
	background-color: var(--fondo_ult);
	font-family: sans-serif;
	color: var(--texto);
}

header {
	background-color: var(--fondo_cab);
}

.cabecera {
	max-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	padding: 10px;
}

#logo {
	max-width: 64px;
	max-height: 64px;
	margin: 10px;
}

.botón {
	margin-right: 20px;
	border: 0 solid;
	border-radius: 16px;
	padding: 8px;
	background-color: var(--botón);
	color: var(--texto);
	font-size: medium;
	cursor: pointer;
}

.botón:hover {
	opacity: 80%;
}

.panel {
	min-height: 85vh;
	width: 98vw;
	display: block;
	margin: 0 auto;
	background-color: var(--fondo_pan);
}

iframe {
	min-height: 85vh;
	width: 98vw;
	display: block;
	margin: 0 auto;
	background-color: var(--fondo_pan);
}

.entrada {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
	padding: 10px;
}

.oculto {
	display: none;
}

.cerrar {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #000;
	border-radius: 20%;
	background-color: #A33;
}

.cerrar:hover {
	opacity: 80%;
	cursor: pointer;
}

.título {
	padding: 10px;
}

.ventana_formulario {
	background-color: #29F;
	max-width: 25vw;
	min-width: 20vw;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 100;
}

.visualizador {
	position: absolute;
	width: 100vw;
	height: 90vh;
	margin-top: 20px;
	background-color: #000;
}

.colección {
	position: absolute;
	width: 100vw;
	height: 90vh;
	margin-top: 20px;
	background-color: #A33;
}