:root {
	--fondo_base: #223;
	--fondo_cabecera: #448;
	--fondo_selección: #111;
	--fondo_visualizador: #000;
	--fondo_tablero: #a33;
	--fondo_formulario: #29f;
	--borde: #444;
	--fuente: #fff;
	--periodo: #29f;
	--evento: #f22;
	--botón: #f70;
	--azul: #44f;
	--verde: #4d4;
	--amarillo: #ff0;
	--naranja: #fa0;
	--rojo: #f00;
	--negro: #555;
}